<div class="dropdown">
    <button class="btn @ButtonClass dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        @ButtonText
    </button>
    <ul class="dropdown-menu">
        @if (Items != null)
        {
            @foreach (var item in Items)
            {
                <li>
                    @if (!string.IsNullOrEmpty(item.Url) && item.Url != "#")
                    {
                        <a class="dropdown-item" href="@item.Url">
                            @item.Text
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item"
                           href="javascript:void(0)"
                           @onclick="() => OnItemClick(item)"
                           @onclick:preventDefault="true">
                            @item.Text
                        </a>
                    }
                </li>
            }
        }
        @ChildContent
    </ul>
</div>